.root {
    -background: rgb(20, 20, 26);
    -backgroundSec: rgb(16, 16, 22);
    -backgroundTer: rgb(12, 12, 18);
    -backgroundQuad: rgba(0, 0, 0, 0.85);

    -primaryTextColor: aliceblue;
    -secondaryTextColor: whitesmoke;
}