@import url("alert-themes/alert-dark.css");
@import url("alert-themes/alert-theme.css");

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
    -fx-background-color: -backgroundSec;
}

.dialog-pane > .content.label {
    -fx-background-color: -background;
    -fx-text-fill: -secondaryTextColor;
    -fx-font-size: 14px;
}

.dialog-pane:title .title-panel {
    -fx-background-color: red;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
    -fx-background-color: -primaryColor;
}

.dialog-pane:header .header-panel .label{
    -fx-background-color: -primaryColor;
    -fx-text-fill: -headerTextColor;
    -fx-font-size: 18px;
}


/**Costumization of Buttons**/
.dialog-pane .button{
    -fx-background-color: -brightPrimary;
    -fx-text-fill:white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow( three-pass-box, -brightPrimary, 5.0, 0.0, 0.0, 0.0);
    -fx-cursor:hand;
}

.dialog-pane .button:hover{     
    -fx-background-color: -brightSecondary;
    -fx-effect: dropshadow( three-pass-box, -brightSecondary, 10.0, 0.0, 0.0, 0.0);
}