/* "Heads" Header and Footer css */

@import url("variables.css");

.heads {
    -fx-background-color: -primaryColor;
}

#headsHeader {
    -fx-background-radius: 8 8 0 0;
    -fx-background-insets: 0;
    -fx-border-width: 1 1 0 1;
    -fx-border-radius: 7 7 0 0;
    -fx-border-color: -borderColor;
}

#headsFooter {
    -fx-background-radius: 0 0 8 8;
    -fx-border-radius: 0 0 7 7;
    -fx-background-insets: 0;
    -fx-border-width: 0 1 1 1;
    -fx-border-color: -borderColor;
}

.titleButton {
    -fx-padding: 0;
    -fx-text-fill: -headerTextColor;
    -fx-font-size: 17px;
    -fx-background-radius: none;
    -fx-background-insets: none;
    -fx-background-color: none;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: transparent;
}

.titleButton:pressed {
    -fx-opacity: 0.8;
}

.titleButton:hover {
    -fx-background-color: -hover;
    -fx-border-color: -borderColor;
}

#closeButton {
    -fx-background-radius: 0 8 0 0;
    -fx-border-width: 1 1 0 0;
    -fx-border-radius: 0 7 0 0;
    -fx-border-insets: 0;
    -fx-border-color: transparent;
}

#closeButton:hover {
    -fx-background-color: red;
    -fx-border-color: -borderColor;
}

#titleImageButton {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

#noveritaText {
    -fx-fill: -headerTextColor;
    -fx-font-size: 16px;
}

.footText {
    -fx-fill: -headerTextColor;
    -fx-font-size: 13px;
}

#versionHold {
    -fx-padding: 0 15 0 0;
}

#pathFileHold {
    -fx-padding: 0 5 0 5;
}

#lastActionHolder {
    -fx-padding: 0 0 0 15;
}

.headerTitle {
    -fx-text-fill: -headerTextColor;
    -fx-font-size: 25px;
    -fx-background-color: none;
    -fx-background-insets: 0;
    -fx-padding: 15 10 5 10;
}

.headerTitle:disabled {
    -fx-opacity: 0.5;
}

.tool-bar {
    -fx-background-color: none;
    -fx-padding: 0 0 0 15;
    -fx-spacing: 10;
}

.menu-bar {
    -fx-background-color: none;
}

.menu .label {
    -fx-text-fill: -headerTextColor !important;
    -fx-background-color: none;
}

.menu-item .label {
    -fx-text-fill: -secondaryTextColor !important;
    -fx-background-color: none;
}

.menu {
    -fx-background-color: none;
}

.menu:selected {
    -fx-background-color: -backgroundSec;
}

.context-menu {
    -fx-background-color: -backgroundSec;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}

.menu-item {
    -fx-text-fill: -headerTextColor !important;
    -fx-background-color: -backgroundSec;
}

.menu-item:focused {
    -fx-background-color: -hover;
}

.menu:hover {
    -fx-background-color: -hover;
}

/* Style for MenuItems when selected */
.menu-item:selected {
    -fx-background-color: -hover; /* Background when selected */
}

.headCharacterTitle {
    -fx-fill: -headerTextColor;
    -fx-font-size: 14px;
}

.headCharacterText {
    -fx-fill: -headerTextColor;
    -fx-font-size: 12px;
}

.imageCharHold {
    -fx-background-color: -backgroundTer;
}

.circle-border {
    -fx-stroke: -brightPrimary;
    -fx-stroke-width: 1;
    -fx-fill: transparent;
}