/* Main body css */

@import url("variables.css");

.bodyAppPane {
    -fx-background-color: -background;
    -fx-border-width: 0 1px 0 1px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: -borderColor;
}

.bodyPane {
    -fx-background-color: -backgroundSec;
}

.sidePane {
    -fx-pref-width: 370px;
}

.pane {
    -fx-padding: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 1;
    -fx-background-color: -secondaryColor;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 15;
}

.tab-pane
{
    -fx-tab-min-width:1px;
}

.tab{
    -fx-padding: 5 10 5 10;
}

.tab-pane .tab
{
    -fx-background-color: transparent;

}

.tab-pane .tab:selected
{
    -fx-background-color: transparent;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: -headerTextColor;
    -fx-opacity: 0.8;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:hover .tab-label { 
    -fx-alignment: CENTER;
    -fx-opacity: 0.9;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-opacity: 1;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.titleText {
    -fx-font-size: 30px;
    -fx-fill: -primaryTextColor;
}

.scroll-pane {
    -fx-background: transparent; /* Must be -fx-background, -fx-background-color only changes border colors */
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-pref-width: 15px;
    -fx-opacity: 0.9;
}

.scroll-bar:horizontal:hover, .scroll-bar:vertical:hover {
    -fx-opacity: 1;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -quartaryColor;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.homeCharPage {
    -fx-padding: 10px 45px;
}

.squadTitle {
    -fx-text-fill: -primaryTextColor;
    -fx-opacity: 0.9;
    -fx-font-size: 22px;
    -fx-background-color: transparent;
    -fx-padding: 0 20px 0 0;
}

.charHold {
    -fx-background-color: -backgroundTer;
    -fx-effect: dropshadow( three-pass-box, -brightSecondary, 10.0, 0.0, 0.0, 0.0);
    -fx-border-color: -brightSecondary; /* -quartaryColor */
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-padding: 0;
    -fx-end-margin: 0;
    -fx-start-margin: 0;
    -fx-background-insets: 0;
}

.charHold:hover {
    -fx-effect: dropshadow( three-pass-box, -brightPrimary, 10.0, 0.0, 0.0, 0.0);
    -fx-border-color: -brightPrimary; /* -quartaryColor */
}

.bodyScrollPane {
    -fx-border-insets: 0 3px;
    -fx-border-color: transparent;
}

.noBorder {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.sidePaneBorder {
    -fx-border-color: -backgroundTer;
}

.charHighlight {
    -fx-background-color: -backgroundQuad;
    -fx-padding: 4px 8px;
}

.charTitle {
    -fx-padding: 5px 0 0 0;
    -fx-font-size: 18px;
    -fx-text-fill: -primaryTextColor;
}

.charDesc {
    -fx-font-size: 16px;
    -fx-text-fill: -secondaryTextColor;
}

#reloadButton {
    -fx-background-color: transparent;
    -fx-text-fill: -primaryTextColor;
    -fx-padding: 5 2;
    -fx-font-size: 22px;
    -fx-opacity: 0.8;
}

#reloadButton:hover {
    -fx-opacity: 1;
}

#reloadButton:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.squadHold {
    -fx-background-color: transparent;
}

.statBlock {
    -fx-background-color: -backgroundSec;

    -fx-min-height: 190;
    -fx-pref-height: 190;
    -fx-max-height: 190;

    -fx-min-width: 165;
    -fx-pref-width: 165;
    -fx-max-width: 165;
}

.statTitle {
    -fx-pref-height: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-alignment: BOTTOM_CENTER;
}

.statTitleText {
    -fx-fill: -primaryTextColor;
    -fx-font-size: 18px;
}

.statText {
    -fx-font-size: 21px;
    -fx-fill: -primaryTextColor;
}

.statButton {
    -fx-rotate: 90;
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-text-fill: -primaryTextColor;
    -fx-padding: 20 25;
    -fx-text-overrun: clip;
}

.statNum {
    -fx-pref-width: 95;
    -fx-max-width: 95;
    -fx-min-width: 95;

    -fx-pref-height: 65;
    -fx-max-height: 65;
    -fx-min-height: 65;

    -fx-alignment: CENTER;
    -fx-background-color: -background;
    -fx-text-fill: -secondaryTextColor;
    -fx-font-size: 19px;
}

.statInput {
    -fx-pref-width: 55;
    -fx-max-width: 55;
    -fx-min-width: 55;

    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    -fx-text-fill: -secondaryTextColor;
    -fx-prompt-text-fill: -secondaryTextColor;
    -fx-font-size: 16px;
}

.rightHandV {
    -fx-pref-width: 55;
    -fx-max-width: 55;
    -fx-min-width: 55;
}

.table {
    -fx-padding: 20;
}

.tableHead {
    -fx-background-color: -primaryColor;
    -fx-border-color: -colorBorder;
    -fx-border-width: 1 1 0 1;
}

.tableElem {
    -fx-background-color: -secondaryColor;
    -fx-border-color: -colorBorder;
    -fx-border-width: 0 1 0 1;
}

.tableFinal {
    -fx-border-width: 0 1 1 1 !important;
}

.tableHeadText {
    -fx-font-size: 12;
    -fx-fill: -headerTextColor;
    -fx-font-weight: bold;
}

.tableText {
    -fx-font-size: 12;
    -fx-fill: -headerTextColor;
    -fx-font-weight: bold;
}

.tableSource {
    -fx-font-size: 12;
    -fx-fill: -headerTextColor;
    -fx-font-weight: bold;
}