.root {
    /* Theme changing */
    -primaryColor: rgb(31, 18, 43); /* rgb(34, 6, 71) */
    -secondaryColor: rgb(14, 14, 14); /* rgb(44, 10, 88) */
    -tertiaryColor: aliceblue;
    -quartaryColor: rgb(140, 148, 155);

    /* Darkmode changing */
    -primaryTextColor: aliceblue;
    -secondaryTextColor: whitesmoke;
    -background: rgb(18, 18, 18);
    -backgroundSec: rgb(12, 12, 12);

    /* Permanent */
    -hover: #7a7a7a;
    -borderColor: transparent;
}

#mainAppPane {
    -fx-border-width: 0;
    -fx-region-background: none;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}