.root {
    /* Permanent */
    -hover: #7a7a7a;
    -borderColor: rgba(100, 100, 100, 1);;
}

#mainAppPane {
    -fx-border-width: 0;
    -fx-region-background: none;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}